
<!-- <div *ngIf="editable; else noEditable"> -->


<workpro-editable [style.display]="workproEditDisplay"
(guardar)="saveMap($event)"
[markers]="markers"
[lines]="lines"
[progress]="progress"
(accion)="changeEnvironment($event)"
></workpro-editable>

<!-- 
</div>

<ng-template #noEditable> -->

<workpro [style.display]="workproDisplay"
(abrirProceso)="openProcess($event)"
[markers]="markers"
[lines]="lines"
[progress]="progress"
(accion)="changeEnvironment($event)"
></workpro>

<!-- </ng-template> -->


