.fixed-right-up{
    display:scroll;
    position:fixed;
    top:10vh;
    right:1.2vw;
  }

  .fixed-right-down{
    display:scroll;
    position:fixed;
    top:19vh;
    right:1.2vw;
  }

  .fixed-right-bottom{
    display:scroll;
    position:fixed;
    bottom:10vh;
    right:1.2vw;
  }
