
<div class="map-container mat-elevation-z23">
    <div class="map-frame">
      <div id="map">
  
      </div>
    </div>
  </div>  

  <button mat-fab title="Guardar" color="primary" class="fixed-right-up mat-elevation-z23" (click)="saveMap()" >
   <mat-icon>save</mat-icon>
  </button>

  <button mat-fab title="Cancelar" color="warn" class="fixed-right-down mat-elevation-z23" (click)="cancel()" >
    <mat-icon>cancel</mat-icon>
   </button>

   <button mat-fab title="Nuevo" color="primary" class="fixed-right-bottom mat-elevation-z23" (click)="addMarker()" >
    <mat-icon>add</mat-icon>
   </button>

   

  <div class="bar-container">
    
    <div class="progress mat-elevation-z23">
      <div class="bar shadow sysman" [style.width]="Progress+'%'"></div>

    </div>
  </div>

  <script>    

  </script>

