@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~leaflet/dist/leaflet.css";




.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: -70px;
    width: 150px;
    height: 150px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: grab;
    transition: 0.2s;
  }

//   .card:active {
//     cursor: grabbing;
//   }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
      
  }
  
  .title-white {
    color: white;    
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
  }

  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  .bg-primary{
    background-color: #3256A4;
    color: white;
  }
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */

  .popup{
    background-color: transparent;
  }

  .tooltip-marker{
    margin: 80px 0px;
    // width: 130px;
    // height: 15px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    // cursor: pointer;
    transition: 0.1s;    
  }

  .tooltip-line{
    // margin: 80px 0px;
    // width: 130px;
    // height: 15px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    // cursor: pointer;
    transition: 0.1s;    
  }


  kbd {
    font-family:Monospace;
    padding:2px 2px;
    background:#eee;
    border:3px solid #bbb;
    border-top-width:1px;
    border-bottom:3px solid #777;
  }

  .line{
    stroke:red;
    stroke-width: 10px;
    stroke-dasharray: 15 12;    
    animation: example 40s infinite;
  }

  @keyframes example {
     from {
      stroke-dashoffset:999;
      stroke:#8CC640
    }
    10%{
      stroke:#275CAC
    }
    20%{
      stroke:#40C2CF
    }
    30%{
      stroke:#8CC640
    }
    40%{
      stroke:#275CAC
    }
    50%{
      stroke:#40C2CF
    }
    60%{
      stroke:#8CC640
    }
    70%{
      stroke:#275CAC
    }
    80%{
      stroke:#40C2CF
    }
    90%{
      stroke:#8CC640
    }
     to {
      stroke-dashoffset: 0;
      stroke:green
    }
  }

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
