@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~leaflet/dist/leaflet.css";


.fixed-right-up{
  display:scroll;
  position:fixed;
  top:10vh;
  right:1.2vw;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    background: white;
    margin:-30px 13px 24px -76px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    cursor: grab;
    transition: 0.2s;
  }

 .active{
   // box-shadow: 5px 5px 30px 7px rgb(140,198,64), -5px -5px 30px 7px rgb(140,198,64);
  }

  .current{
    box-shadow: 5px 5px 30px 7px rgb(140,198,64), -5px -5px 30px 7px rgb(140,198,64);
  }
  .inactive{
    filter: grayscale(100%);
  }

  .button{
    margin: 90px;
    
  }

//   .card:active {
//     cursor: grabbing;
//   }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 5px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: -113px;
    height: 40px;
  }


  .card .card_button{

    border-radius: 0px 0px 40px 40px;
    margin-top: -80px;
    height: 40px;
    // display: none;

  }

  .card .icon{
    margin-top: 9px;
  }

  .card .mat-mini-fab{
    margin: 75px 0 0 102px;
  }
  
  .card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
      
  }

  // .line:hover {
  //   stroke-width:10px;
  //   stroke-dasharray: 15 15;
      
  // }
  // .circle:hover {
  //   stroke-width:10px;
  //   stroke-dasharray: 15 15;
      
  // }
  
  .title-white {
    color: black;    

  }

  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  .bg-primary{
    background-color: #3256A4;
    color: white;
  }
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */

  .popup{
    background-color: transparent;
  }

  .tooltip-marker{
    margin: 80px 0px;
    // width: 130px;
    // height: 15px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    // cursor: pointer;
    transition: 0.1s;    
  }

  .tooltip-line{
    // margin: 80px 0px;
    // width: 130px;
    // height: 15px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    // cursor: pointer;
    transition: 0.1s;    
  }


  kbd {
    font-family:Monospace;
    padding:2px 2px;
    background:#eee;
    border:3px solid #bbb;
    border-top-width:1px;
    border-bottom:3px solid #777;
  }

  .line{
    stroke:#3F51B5;
    stroke-width: 4px;
    stroke-dasharray: 15 6;    
    animation: example 40s infinite;
  }

  .circle{
    stroke:#3F51B5;
    stroke-width: 4px;
    stroke-dasharray: 15 10;    
    animation: example 40s infinite;
    fill: none;
  }

  @keyframes example {
     from {
      stroke-dashoffset:400;
    }
     to {
      stroke-dashoffset: 0;
    }
  }

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.navigation{
  margin-left: 10vh;
}


.map-container {
    background-image: url("https://www.histamar.es/wp-content/uploads/2018/03/1065.jpg");
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5vh 6vw 8vh 3vw;
    border-radius: 5px;
  }
  
  .map-frame {
    border: 1px solid black ;
    border-radius: 5px;
    height: 100%;
  }
  
  #map-work {
    height: 100%;
    border-radius: 5px;
  }

  #map {
    height: 100%;
    border-radius: 5px;
  }


  .fixed-right-up{
    display:scroll;
    position:fixed;
    top:5vh;
    right:1.2vw;
}





/** progress bar */

@import url('https://fonts.googleapis.com/css?family=Bitter');


.progress {
    display: inline-block;
    width: 90.8vw;
    height: 4.5vh;    
    border-radius: 5px;
    // background-image: url('https://www.vandersandengroup.lt/sites/default/files/styles/brick_thumbnail_2014/public/images_brick_joint/vds_1_350a0_gh_rainbow-wapper_white_02.jpg?itok=mJ5mD6eI');
    border: solid black 1px;
}

.bar-container{
  margin-left: 2.95vw;  
  margin-right: 6vw;
  width:90.5vw;

  display:scroll;
  position:fixed;
  bottom:1vh;
}


.bar {
    border-radius: 5px;
    width: 0%;
    height: 100%;
    transition: width;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);

}


.shadow {
    /* 25 50 */
    box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25); 
}



.sysman {
  background-color:rgb(108, 127, 235);
  background-image: url("https://fedesoft.org/wp-content/uploads/2015/12/logo-2016-01.png");
  background-size: 18vh
}





@media screen and (max-width: 500px) {
    .progress {
        width: calc(100vw * 0.7);
        /* height: calc(100vw * 0.7 * 0.145); */
        height: 40px;
        margin: 25px;
    }

    .github {
        margin: 20px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inherit;
    }
}


