
<div class="map-container mat-elevation-z23">
    <div class="map-frame">
      <div id="map">
  
      </div>
    </div>
  </div>  

  <button mat-fab title="Editar" color="warn" class="fixed-right-up mat-elevation-z23" (click)="editar()" >
   <mat-icon>build</mat-icon>
  </button>


  <div class="bar-container">
    
    <div class="progress mat-elevation-z23">
      <div class="bar shadow sysman" [style.width]="Progress+'%'"></div>

    </div>
  </div>

  <script>    

function verProceso(res){
console.log(verProceso)
}
  </script>

